body{
    color: rgb(7, 53, 68);
    font-family: 'Times New Roman', Times, serif;
    max-width: 750px;
    margin: 0 auto;
    padding: 0 18px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(231, 218, 224);
}
.main-content{
    flex-grow: 1;
}
footer{
   color: rgb(120, 123, 124);
    border-top: 1px solid black;
    margin-top: 16px 0;
    padding: 17px 0;
}
header{
    margin-top: 16px;
    margin-bottom: 48px;
}
h1{
    font-size: 64px;
    margin-bottom: 16px;
}
header a{
 color: rgb(48, 21, 21);
 margin-right: 16px;
 text-decoration: none;
 
}
.portrait{
    width: 300px;
     
}