<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <h1>about page</h1>
        <img src="./img/moe-g1f8d356f0_1920.png" alt="">
    </body>
</html>